
body {
	background-color: silver;

}



.LoginPage__image{
	width:100%;
	margin: 0%;
	padding: 0%;

}



p {
	font-style: italic;
	font-size:12pt;
	text-indent: 35px;
	text-align:justify;
	color:white;
	
}
Tabs {
	color:"white";
	
}
.footer{
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
	color:lightblue;
	border:1px solid lightblue;
	background-color: black;
	

}

.footer_g{
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
	color:orange;
	border:1px solid lightblue;
	background-color: black;
	

}

.footer_k{
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
	color:gray;
	border:1px solid lightblue;
	background-color: black;
	
}

.footer_p{
	text-align:center;
	font-size:16pt;
	font-style: normal;

}

.image{
	float:left;
	margin:3%;
	max-width:50%;
	min-width:50%;
	max-height:50%;
	min-height:50%;
}

.sun{
	width:100%;
	min-width:100%;
	max-width:100%;
	margin-top:0%;
}

img{
	
	margin-top:3%;
	max-width:100%;
	min-width:100%;
	max-height:100%;
	min-height:100%;

}


