@import "../styles/palette.less";


body {
	background-color: silver;
	
}



NavItem
{
	font-size:200%;
	color:red;
}
Button
{
	color:red;

}

.LoginPage__image{
	width:100%;
	margin: 0%;
	padding: 0%;

}
Navbar
{
	margin: 0%;
	padding: 0%;

}
NavItem
{
	margin: 0%;
	padding: 0%;

}

p {
	font-style: italic;
	font-size:12pt;
	text-indent: 35px;
	text-align:justify;
}
Tabs {
	color:"black";
}
.footer{
	color:lightblue;
	border:1px solid lightblue;
	background-color: black;
	margin: 1%;
	padding: 0%;

}

.footer_p{
	text-align:center;
	font-size:16pt;
	font-style: normal;

}
.image{
	float:left;
	margin:3%;
}



